<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>PROGRAMACION</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      PROGRAMACION WEB_003V
    </ion-card-content>
    <!-- Botón en la esquina inferior izquierda de la tarjeta 1 -->
    <button class="card-button" (click)="accionTarjeta1()">ASISTENCIA </button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> ARQUITECTURA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ARQUITECTURA_004V
    </ion-card-content>
    <!-- Botón en la esquina inferior izquierda de la tarjeta 2 -->
    <button class="card-button" (click)="accionTarjeta2()">ASISTENCIA </button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>CALIDAD</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      CALIDAD DE SOFTWARE_003V
    </ion-card-content>
    <!-- Botón en la esquina inferior izquierda de la tarjeta 3 -->
    <button class="card-button" (click)="accionTarjeta3()">ASISTENCIA</button>
  </ion-card>
</ion-content>
